---
import Article from "@/components/article.astro";
import DocsSection from "@/components/docs-section.astro";
import { Navbar, type NavbarCategory } from "@/components/navbar";
import { VersionSelector } from "@/components/version-selector";
import { forNavbar, getArticles } from "@/lib/articles/entries";
import BaseLayout from "./base.astro";

type Props = {
  readonly navbarEntries: ReadonlyArray<NavbarCategory>;
  readonly showVersionSelector?: boolean;
  readonly title?: string;
};

const { navbarEntries, showVersionSelector = false, title } = Astro.props;

const { pathname } = Astro.url;

const articles = await getArticles(pathname);
---

<BaseLayout title={title}>
  <div class="flex flex-1 gap-3 p-3 sm:gap-8 sm:p-8">
    <aside
      class="sticky top-24 hidden h-[calc(100dvh-8rem)] w-64 overscroll-contain md:block"
    >
      <Navbar entries={[...forNavbar(articles), ...navbarEntries]} client:load>
        {
          showVersionSelector && (
            <VersionSelector pathname={pathname} client:load />
          )
        }
      </Navbar>
    </aside>
    <main class="flex-1 space-y-3 overflow-hidden sm:space-y-8">
      <h1 class="mb-12 text-3xl font-thin capitalize tracking-widest">
        {title}
      </h1>
      {
        articles.map(([category, categoryArticles]) => (
          <DocsSection title={category}>
            {categoryArticles.map((article) => (
              <Article
                id={article.data.slug ?? article.id}
                class="scroll-mt-24"
                article={article}
              />
            ))}
          </DocsSection>
        ))
      }
      <slot />
    </main>
  </div>
</BaseLayout>
