---
import GithubSource from "@/components/github-source.astro";
import Markdown from "@/components/markdown.astro";
import { TagBadge } from "@/components/tag-badge";
import { Badge } from "@/components/ui/badge";
import { CardTitle } from "@/components/ui/card";
import { getTags } from "@/lib/v1/get-tags";
import type { DocumentedFunction } from "@/lib/v1/transform";

type Props = {
  readonly func: DocumentedFunction;
};

const { func } = Astro.props;
---

<>
  <div class="flex items-center gap-2">
    <CardTitle className="flex-1 text-2xl">{func.name}</CardTitle>
    {getTags(func).map((tag) => <TagBadge tag={tag} className="h-8" />)}
    <Badge className="h-8">{func.category}</Badge>
    {func.sourceUrl !== undefined && <GithubSource url={func.sourceUrl} />}
  </div>
  {func.description !== undefined && <Markdown markdown={func.description} />}
</>
