---
import { Badge } from "@/components/ui/badge";
import { CardTitle } from "@/components/ui/card";
import type { Tag } from "@/lib/get-tags";
import GithubSource from "./github-source.astro";
import Markdown from "./markdown.astro";
import Prose from "./prose.astro";
import { TagBadge } from "./tag-badge";

type Props = {
  readonly name: string;
  readonly category: string | undefined;
  readonly sourceUrl: string | undefined;
  readonly description: string | undefined;
  readonly tags: ReadonlyArray<Tag>;
};

const { name, sourceUrl, category, description, tags } = Astro.props;
---

<>
  <div class="flex items-center gap-2">
    <CardTitle className="flex-1 text-2xl">{name}</CardTitle>
    {tags.map((tag) => <TagBadge tag={tag} className="h-8" />)}
    <Badge className="h-8">{category}</Badge>
    {sourceUrl !== undefined && <GithubSource url={sourceUrl} />}
  </div>
  {
    description !== undefined && (
      <Prose>
        <Markdown markdown={description} />
      </Prose>
    )
  }
</>
