---
import CodeBlock from "@/components/code-block.astro";
import Description from "@/components/description.astro";
import { FunctionTag } from "@/components/function-tag";
import { MethodSignature } from "@/components/signature";
import { Badge } from "@/components/ui/badge";
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";
import type FUNCTIONS from "@/data/functions.json";
import { getTags } from "@/lib/get-tags";

interface Props {
  func: (typeof FUNCTIONS)[number];
}

const { func } = Astro.props;
---

<Card id={func.name} className="scroll-mt-20">
  <CardHeader>
    <div class="flex items-center gap-2">
      <CardTitle className="text-2xl">{func.name}</CardTitle>

      <Badge className="ml-auto bg-primary text-primary-foreground">
        {func.category}
      </Badge>

      {getTags(func).map((tag) => <FunctionTag tag={tag} />)}
    </div>
    {
      func.description !== undefined && (
        <Description markdown={func.description} />
      )
    }
  </CardHeader>

  <CardContent className="grid gap-6">
    {
      func.methods.map(
        (method) =>
          method.signature !== undefined && (
            <div class="flex flex-col gap-2">
              {method.tag !== undefined && <p>{method.tag}</p>}
              <MethodSignature
                args={method.args}
                returns={method.returns}
                client:load
              >
                <CodeBlock code={method.signature} />
              </MethodSignature>
              {method.example !== undefined && (
                <section class="text-xs lg:text-base">
                  <CodeBlock code={method.example} />
                </section>
              )}
            </div>
          ),
      )
    }
  </CardContent>
</Card>
