---
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";
import { getEntry } from "astro:content";
import { Badge } from "./ui/badge";
import Prose from "./prose.astro";
import { ArrowRightIcon } from "@radix-ui/react-icons";
import { mappingUrl } from "@/lib/mappings";

type Props = {
  readonly name: string;
  readonly library: string;
};

const { name, library } = Astro.props;

const entry = await getEntry("mapping", `${library}/${name}`);
const rendered = await entry?.render();

const mappedUrl = mappingUrl(library, name);
---

<Card id={name} className="scroll-mt-24">
  <CardHeader>
    <div class="flex items-center gap-2">
      <CardTitle className="inline-flex flex-1 items-center gap-2 text-2xl"
        >{name}
        <a class="text-base text-primary hover:underline" href={mappedUrl}
          >[{library}]</a
        >{
          entry?.data.remeda !== undefined && (
            <>
              <ArrowRightIcon className="size-6" />
              {entry.data.remeda}
              <a
                class="text-base text-primary hover:underline"
                href={`/docs#${entry.data.remeda}`}
              >
                [remeda]
              </a>
            </>
          )
        }</CardTitle
      >
      <Badge className="h-8">{entry?.data.category}</Badge>
    </div>
  </CardHeader>
  {
    entry?.body !== "" && rendered !== undefined && (
      <CardContent>
        <Prose class="empty:hidden">
          <rendered.Content />
        </Prose>
      </CardContent>
    )
  }
</Card>
