---
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";
import { getMappedEntry } from "@/lib/mapping/entry";
import { mappingUrl } from "@/lib/mapping/urls";
import { ArrowRightIcon, ExternalLinkIcon } from "@radix-ui/react-icons";
import { render } from "astro:content";
import GithubEdit from "./github-edit.astro";
import Prose from "./prose.astro";
import { Badge } from "./ui/badge";
import { buttonVariants } from "./ui/button";
import { getEntry } from "astro:content";

type Props = {
  readonly name: string;
  readonly library: string;
};

const { name, library } = Astro.props;

const entry = await getMappedEntry(library, name);
const mappedFunction =
  entry.data.remeda === undefined
    ? undefined
    : await getEntry(entry.data.remeda);
const { Content } = await render(entry);
const mappedUrl = mappingUrl(library, name);
---

<Card id={name} className="scroll-mt-24">
  <CardHeader>
    <div class="flex gap-2 overflow-hidden">
      <CardTitle className="flex-1 truncate text-2xl">
        {name}
      </CardTitle>
      <a
        class={buttonVariants({ variant: "secondary", size: "sm" })}
        href={mappedUrl}
      >
        <ExternalLinkIcon />
      </a>
      <Badge className="hidden h-8 sm:flex">{entry.data.category}</Badge>
      <GithubEdit entry={entry} />
    </div>
  </CardHeader>
  <CardContent className="space-y-3">
    {
      mappedFunction !== undefined && (
        <h6 class="flex items-center gap-1 text-xl font-medium">
          <ArrowRightIcon className="ms-2 size-5" />
          <a
            href={`/docs#${mappedFunction.data.name}`}
            class="truncate text-primary"
          >
            {mappedFunction.data.name}
          </a>
        </h6>
      )
    }
    {
      entry.body !== "" && (
        <Prose>
          <Content />
        </Prose>
      )
    }
  </CardContent>
</Card>
